<form
  *ngIf="fg"
  [formGroup]="fg"
  class="sign-in"
>
  <fieldset class="sign-in__fieldset">
    <mat-form-field>
      <mat-label>ID</mat-label>
      <input
        matInput
        formControlName="id"
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>PASSWORD</mat-label>
      <input
        matInput
        formControlName="password"
      >
    </mat-form-field>
  </fieldset>

  <footer class="sign-in__footer">
    <button
      mat-stroked-button
      color="primary"
      [disabled]="!canSubmit"
      (click)="onSignIn()"
    >
      sign in
    </button>
    <button
      [routerLink]="['../sign-up']"
      mat-stroked-button
    >sign up</button>
  </footer>
</form>
