.sign-up {
  padding: 40px;

  &__header {
    text-align: center;
  }

  &__form {}

  &__fieldset {
    display: flex;
    flex-direction: column;
  }

  &__fieldset-col {
    display: flex;
    align-items: flex-start;

    @supports (column-gap: 10px) {
      column-gap: 10px;
    }

    mat-form-field {
      flex: 1;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @supports (row-gap: 10px) {
      row-gap: 10px;
    }
  }
}
